.containerHome{
    display: flex;
    width: 100%;
    max-width: 124rem;

}

.containerCards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
    border: 0.3rem solid #f00;
    border-radius: 1rem;
    padding: 2rem;
    height: 45vh;
}