/*CSS GLOBAL*/
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    /*justify-content: center;*/
    /*height: 100vh;*/
}
h1{
    font-size: 32px;
}                 

h2{
    font-size: 26px;
}

h2{
    font-size: 22px;
}

p{
    font-size: 16px;
}